.wrapper {
  width: 300px;
  margin: auto;
  text-align: center;
}

.board {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 0px;
  border: 1px solid black;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 100px;
  font-size: 40px;
}